<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>web | Development</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.4/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
  <div class="">
    <div class=" px-6 navbar p-1">
      <a href="index.html" style="text-decoration: none;">
        <img src="image.png" alt="logo" style="width:130px;height: 70px; ">
      </a>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none">
          <path
            d="M12 12a5 5 0 1 0 0-10 5 5 0 0 0 0 10ZM12 14.5c-5.01 0-9.09 3.36-9.09 7.5 0 .28.22.5.5.5h17.18c.28 0 .5-.22.5-.5 0-4.14-4.08-7.5-9.09-7.5Z"
            fill="#2ccce4"></path>
        </svg>

      </div>
    </div>

    <div class="flex w-full">
      <div
        class="border-r-2 white border-gray-300  flex flex-col items-center text-left p-10 fixed top-18 left-0 h-full">
        <div class="flex flex-col gap-96">
          <div class="flex flex-col gap-4 space-y-5 text-xl">
            <h1 class=" mt-2">Dashboard</h1>
            <h1 class="">
              <a href="calculator.html">Calculator</a>
            </h1>
            <h1 class="">
              Enquiries
            </h1>
            <h1 class="">
              <a href="courseTable.html">
                Courses
              </a>
            </h1>
            <h1 class="">
              <a href="contact.html">
                Contact
              </a>
            </h1>
          </div>
          <div class="space-y-5 text-xl">
            <h1 class="">Setting</h1>
            <h1 class="">Logout</h1>

          </div>
        </div>
      </div>
    </div>


    <div class="w-full main-content mt-10 ml-10 flex flex-col items-center justify-center">
      <h1 class="text-center text-2xl font-bold">Table Calculator</h1>
      <table class="mt-10">
        <tr>
          <th colspan="4" class="text-center p-0">Casio</th>
        </tr>
        <tr>
          <th colspan="4" class="text-left p-10"></th>
        </tr>
        <tr>
          <th colspan="2">
            delete
          </th>
          <th colspan="2">clear</th>
        </tr>
        <tr>
          <th>7</th>
          <th>8</th>
          <th>9</th>
          <th>/</th>
        </tr>

        <tr>
          <th>6</th>
          <th>5</th>
          <th>4</th>
          <th>*</th>
        </tr>
        <tr>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>-</th>
        </tr>
        <tr>
          <th>.</th>
          <th>0</th>
          <th>=</th>
          <th>+</th>
        </tr>

      </table>
    </div>
  </div>
  </div>
</body>

</html>
